.bebas-neue{
    font-family: bebas neue;
}
.background-color{
    background-color: #FFFBF0;
    padding-bottom: 50px;

}
.heading-text{
    font-size: 80px;
}
.orange-highlighted{
    color:#FABE4C;
}
.blue-highlighted{
    color:#363958;
}
.buy-button{
    text-decoration: none;
    color:white;
    
    padding:15px 25px;
    background-image: linear-gradient(#A4BC46,#85A019);
    border-radius:10px;
}
.buy-button img{
    width:25px;
    padding:0 3px;
}


.penguine-image{
    background-color: #F1F1F1;
    margin:20px;
    padding:20px;
   

}
.card-radius{
    border-radius:15px;
    padding:5px;
}
.icon-size{
    width:80px;
}
@media (max-width: 1200px){
    .reverse-order{
        display: flex;
        flex-direction:column-reverse;
    }
    .center-aligned{
        display: flex;
        justify-content: center;
    }
}